* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

body {
    background-color: black;
}

h2 {
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
}



/* MENÚ */
.navbar-brand {
    font-size: 2em;
    padding-left: 5%;
}
  
.bg-dark {
    --bs-bg-opacity: 0;
}
  
.navbar-expand-sm .navbar-collapse {
    justify-content: right;
}



/* ABOUT US */
p {
    text-align: center;
    margin: 0 auto;
}

div#imagen {
    width: 600px;
    height: 600px;
    background-size: cover;
    background-image: url("../img/POPUP.png");
    margin: 30px auto;
    border-radius: 25%;
}

p#headline {
    position: absolute;
    font-size: 2.5rem;
    margin-left: 13px;
    margin-top: 23px;
    transition: margin-left 0.3s;
}
  
div#imagen:hover p#headline {
    margin-left: 80px;
}

div#imagen:hover div#info {
    opacity:1;
}

div#info {
    position: absolute;
    overflow: hidden;
    width: 300px;
    height: 300px;
    opacity:0;
    transition: opacity 0.3s;
    color: black;
}
  
p#descripcion {
    font-size: 3rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
}
  
div#imagen:hover p#descripcion {
    margin-top: 80px;
    margin-right: 70px;
    cursor: pointer;
}



/* MARQUEE */
.marquee {
    color: white;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
}



/* GALLERY */
#galeria {
    width: 100%;
    max-width: 700px;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
}

#community{
    display: flex;
    flex-direction: column;
}

#galeria > figure {
    flex: 30%;
    padding: 3px;
}

#galeria > figure > img {
    opacity: 0.9;
    filter: grayscale(100%);
    transition-duration: 0.5s;
    width: 100%;
    border-radius: 50px;
}

#galeria > figure > img:hover {
    cursor: pointer;
    opacity: 1;
    filter: none;
}



/* FOOTER */
footer {
    padding-top: 5%;
}
  
.logo-footer {
    padding-left: 5%;
    height: 60px;
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
}
  
footer div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* media ================================================================================ */
@media (max-width: 768px) {
    div#imagen {
        width: 279px;
        height: 198px;
    }

    h2 {
        font-size: 2.45em;
    }

    p {
        font-size: 12px;
    }

    div#imagen:hover p#headline {
        margin-left: 18px;
    }
  }
  
@media (max-width: 576px) {
    #galeria {
        width: 70%;
        max-width: 700px;
        margin: 1em auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }