* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

body {
    background-color: black;
}

.navbar-brand {
    font-size: 2em;
    padding-left: 5%;
}
  
.bg-dark {
    --bs-bg-opacity: 0;
}
  
.navbar-expand-sm .navbar-collapse {
    justify-content: right;
}

.marquee {
    color: white;
    width: 100%;
    font-size: 5em;
    font-weight: bolder;
    padding-top: 2em;
}

/* FOOTER */
footer {
    padding-top: 5%;
}
  
.logo-footer {
    padding-left: 5%;
    height: 60px;
      transform: translatey(0px);
      animation: float 6s ease-in-out infinite;
}
  
footer div {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}