* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: white;
}

body {
    background-color: black;
}
  


/* MENÚ */
.navbar-brand {
  font-size: 2em;
  padding-left: 5%;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: right;
}



/* PEDIDOS */
#Pintar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}
  
.disclaimer {
    position: absolute;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    z-index: 100;
}
  
.disclaimer p {
    width: 600px;
}

.disclaimer p em {
    color: red;
}
  
.spaceButt {
    border: 1px solid #7f7f7f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 40px 10px;
    transition: all 0.05s ease-in-out;
    cursor: pointer;
}
  
.button-container {
    display: flex;
    justify-content: center;
}
  
.button-container input[type="text"] {
    padding: 10px;
    width: 100px;
    border-radius: 3px;
    border: none;
}
  
.colorbutton {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    align-items: center;
}
  
.spaceButt:focus {
    outline: none;
}
  
.spaceButt:active,
.spaceButt.pressed {
    transform: translate(-7px, 6px);
    box-shadow: none !important;
    transition: all 0.05s ease-in-out;
}
  
input[type="color"] {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-left: -35px;
}
  
.pixelboard {
    display: grid;
    border: 0.5px solid #d6d6d6;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #f0f0f0;
}
  
.pixelboard div {
    border: 0.5px solid #d6d6d6;
}
  
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
  
.gridsize {
    display: flex;
}
  
.gridsize div {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.gridsize input {
    color: black;
    margin: 6px;
    width: 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    border: none;
}
  
.pcard {
    background-color: #ffffffa6;
    box-shadow: 20px 20px 0px 0px #fff200, 20px 0px 0px 0px #fff200,
      0px -20px 0px 0px #fff200, -20px -20px 0px 0px #fff200,
      0px 20px 0px 0px #fff200, -20px 20px 0px 0px #fff200,
      20px -20px 0px 0px #fff200;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    border-radius: 27px;
    margin: 40px 15px 40px 15px;
}

/* SLIDERS */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: #41d47e;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #41d47e;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* ROUNDED SLIDERS */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
.hide1 {
    display: none;
}
  
.hide0 {
    background-image: none !important;
}

#gencode {
    margin-top: 60px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid rgb(82, 82, 82);
    background-color: #fff;
    color: #000;
    cursor: pointer;
    box-shadow: -5px 6px 0 0 #919191;
    transition: all 80ms;
}
  
#gencode:active {
    transform: translate(-5px, 6px);
    transition: all 80ms;
    box-shadow: 0 0 0 0 #919191;
}

/* PINTAR */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



/* FOOTER */
footer {
  padding-top: 5%;
}

.logo-footer {
  padding-left: 5%;
  height: 60px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

footer div {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}