@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

/* MENÚ */
.navbar-brand {
    font-size: 2em;
    padding-left: 5%;
  }
  
  .bg-dark {
    --bs-bg-opacity: 0;
  }
  
  .navbar-expand-sm .navbar-collapse {
    justify-content: right;
  }

.personaliza {
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}
  body {
    background-color: #000000;
  }
  .wrapper {
    background-color: #ffffff;
    width: 80vmin;
    position: relative;
    margin-top: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
  }
  label {
    display: block;
  }
  span {
    position: relative;
    font-size: 22px;
    bottom: -1px;
  }
  .opt-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }
  button {
    background-color: #fff200;
    border: none;
    padding: 5px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border: 4px solid #000000;
  }
  input[type="color"]::-moz-color-swatch {
    border: 4px solid #000000;
  }
  .gridCol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
  }
  .gridRow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .gridCol {
      height: 0.8em;
      width: 0.8em;
    }
  }


  .wrap {
	top: 50%;
	left: 50%;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.button {
	color: #fff200;
	box-shadow: #fff200 0 0px 0px 2px inset;
}

a.button:hover {
	color: black;
	box-shadow: #fff200 0 0px 0px 40px inset;
}

/* FOOTER */
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

footer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.logo-footer {
  padding-left: 5%;
  height: 60px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

footer div {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a {
  padding: 20px;
}

dl, ol, ul {
    display: flex;
    flex-wrap: wrap;

}

