@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}



/* MENÚ */
.navbar-brand {
  font-size: 2em;
  padding-left: 5%;
}

.bg-dark {
  --bs-bg-opacity: 0;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: right;
}

section {
  padding-right: 5%;
  padding-left: 5%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

section > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}

section h1 {
  padding-bottom: 2%;
  font-size: 5em;
  font-weight: bold;
}

section p {
  padding: 2%;
  border: solid white 2px;
  width: fit-content;
  font-size: 2em;
}

.headervid {
  overflow: hidden;
}

.back-video {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
}

.mufcon {
  margin: 2%;
  width: 20%;
  animation: float 3s ease-in-out infinite;
}

a {
  color: white;
  text-decoration: none;
}

p:hover {
  background-color: #fff200;
  color: black;
  animation: float 2s ease-in-out infinite;
}

@media (min-aspect-ratio:16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .back-video{
    width: 100%;
    height: 100%;
  }
}



/* ENCUENTRANOS */

.parallax {
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/fachada.png);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  
}

/* ANUNCIO */
#anuncio {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#anuncio h2 {
  font-weight: bold;
  color: red;
}

.heart {
  padding-left: 2%;
  width: 105px;
  height: 105px;
}

.heart:hover::before {
  -webkit-animation-play-state: paused;
  border-radius: 100%;
  opacity: 0;
}

.heart::before {
  content: "";
  display: block;
  transition: all 400ms;
  -webkit-animation: pulse 1.2s steps(1) infinite;
  width: 15px;
  height: 15px;
  margin: -15px 0 0 -15px;
  box-shadow: 30px 15px #8e1a19, 45px 15px #ac0500, 75px 15px #f73f0c, 90px 15px #fa5f27, 15px 30px #740100, 30px 30px #8e0500, 45px 30px #8e1918, 60px 30px #ca1300, 75px 30px #f34f2b, 90px 30px #df351f, 105px 30px #f77c2a, 15px 45px #4b0000, 30px 45px #690100, 45px 45px #8e0f0b, 60px 45px #bf1000, 75px 45px #f84010, 90px 45px #f04222, 105px 45px #fa5724, 15px 60px #451312, 30px 60px #5a0100, 45px 60px #840e0c, 60px 60px #a51d1a, 75px 60px #ed2805, 90px 60px #d9321e, 105px 60px #f44622, 30px 75px #3b0000, 45px 75px #5d1a1b, 60px 75px #8e1a19, 75px 75px #a80700, 90px 75px #b90a00, 45px 90px #3d0000, 60px 90px #551415, 75px 90px #670100, 60px 105px #340000;
}

@-webkit-keyframes pulse {
  50% {
    -webkit-filter: blur(1.4px);
    -webkit-transform: translate(-2px, 2px);
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



/* FOOTER */
footer {
  padding-top: 5%;
}

.logo-footer {
  padding-left: 5%;
  height: 60px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

footer div {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (max-width: 1600px) {
  .mufcon {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .mufcon {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {

  section h1 {
    font-size: 2.3em;
  }

  .mufcon {
    width: 80%;
  }
}

@media screen and (max-width: 100px) {
  .mufcon {
    width: 40%;
  }
}
